<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1> Welcome to the puppy adoption site!</h1>

<a href="/new">Click Here To List A Puppy</a>
    <h1>Pig Latinizer!</h1>
    <p>Enter your phrase:</p>
    <form action="/piglatinize" method="POST">
      <input type="text" name="user_phrase">
    </form>

  </body>
</html>


